<div class="container pt-3">
  <div class="row pt-lg-5 justify-content-md-center">
    <div class="card col-md-5 border">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Registro</h4>
      </div>
      <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
        <div class="modal-body mx-3">
          <div class="md-form mb-5">
            <i class="fas fa-user prefix grey-text"></i>
            <input type="text" id="orangeForm-name" class="form-control validate" formControlName="nombre">
            <label data-error="wrong" data-success="right" for="orangeForm-name">Nombre</label>
          </div>
          <div class="md-form mb-5">
            <i class="fas fa-user prefix grey-text"></i>
            <input type="text" id="orangeForm-apellido" class="form-control validate" formControlName="apellido">
            <label data-error="wrong" data-success="right" for="orangeForm-apellido">Apellido</label>
          </div>
          <div class="md-form mb-5">
            <i class="fas fa-phone prefix grey-text"></i>
            <input type="text" id="orangeForm-telefono" class="form-control validate" formControlName="telefono">
            <label data-error="wrong" data-success="right" for="orangeForm-telefono">Teléfono</label>
          </div>
          <div class="md-form mb-5">
            <i class="fas fa-id-card prefix grey-text"></i>
            <input type="text" id="orangeForm-cedula" class="form-control validate" formControlName="cedula">
            <label data-error="wrong" data-success="right" for="orangeForm-cedula">Cédula</label>
          </div>
          <div class="md-form mb-5">
            <i class="fas fa-envelope prefix grey-text"></i>
            <input type="email" id="orangeForm-email" class="form-control validate" formControlName="email">
            <label data-error="wrong" data-success="right" for="orangeForm-email">Email</label>
          </div>
          <div class="md-form mb-4">
            <i class="fas fa-lock prefix grey-text"></i>
            <input type="password" id="orangeForm-pass" class="form-control validate" formControlName="password">
            <label data-error="wrong" data-success="right" for="orangeForm-pass">Contraseña</label>
          </div>

        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button class="btn" style="background-color: #52489C;">Registrarse</button>
        </div>
      </form>
    </div>
  </div>
</div>
<br><br><br><br>
