<div class="tab-pane" id="panel101" role="tabpanel">
  <div class="container-fluid">
    <div class="row mb-2 justify-content-center">
      <div *ngFor="let alquiler of rentas">
        <div class="col-md">
          <app-clientealquilercard
            [fechaEntrega]="alquiler.fecha_entrega"
            [fechaRecogida]="alquiler.fecha_recogida"
            [lugarEntrega]="alquiler.lugar_entrega"
            [lugarRecogida]="alquiler.lugar_recogida"
            [modoPago]="alquiler.metodo_pago"
            [idAuto]="alquiler.id_autos"
            [precioAuto]="alquiler.total_pagar"
            [idUsuario]="alquiler.id_usuario"
          >
          </app-clientealquilercard>
        </div>
      </div>
    </div>
  </div>
</div>
<app-rate-modal></app-rate-modal>
