<div class="modal fade" id="modalRate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="card-body">
        <!--Header-->
        <div class="text-center">
          <h3 class="black-text font-weight-bold" style="font-size: 1rem;">Valoración</h3>
          <hr class="hr-light">
        </div>
        <!--Body-->
        <div class="container text-center">
          <div class="rating">
            <input type="radio" name="rating" value="5" id="5">
            <label for="5">☆</label>
            <input type="radio" name="rating" value="4" id="4">
            <label for="4">☆</label>
            <input type="radio" name="rating" value="3" id="3">
            <label for="3">☆</label>
            <input type="radio" name="rating" value="2" id="2">
            <label for="2">☆</label>
            <input type="radio" name="rating" value="1" id="1">
            <label for="1">☆</label>
          </div>
          <div class="form-group">
            <label for="comentaryText">Ingresa un comentario</label>
            <textarea id="comentaryText" class="form-control rounded-0" rows="3"></textarea>
          </div>
        </div>
        <br>
        <!--Header-->
        <div class="text-center">
          <h3 id="totalPagar" class="black-text font-weight-bold" style="font-size: 1rem;"></h3>
          <hr class="hr-light">
        </div>
        <div class="text-center mt-4">
          <button id="paymentButton" class="btn  waves-effect waves-light btn-rounded"
                  style="background-color: #52489C;">Valorar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

