.float{
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#52489C;
  color:#FFFFFF;
  border-radius:50px;
  text-align:center;
  box-shadow: 2px 2px 2px #999;
}

.my-float{
  margin-top:22px;
  color: #FFFFFF;
}
