<router-outlet></router-outlet>
<div class="tab-pane" id="panel101" role="tabpanel" *ngIf="_router.url === '/administrador/catalogo'">
  <div class="container-fluid">
    <div class="row mb-2 justify-content-center">
      <ng-container *ngFor="let autos of arregloAutos">
        <div class="col-md-6">
          <app-adminautocard
            [id_auto]="autos.id"
            [nombreAuto]="autos.data().nombre"
            [precioAuto]="autos.data().precio"
            [urlAutoimage]="autos.data().imageUrl"
            [hidden]="autos.data().completed"
          >
          </app-adminautocard>
        </div>
      </ng-container>
    </div>
  </div>
  <a class="float waves-effect waves-light" *ngIf="_router.url === '/administrador/catalogo'" (click)="newAutoCard()">
    <i class="fa fa-plus my-float"></i>
  </a>
</div>

