<div class="card-body border">
  <div class="md-form text-center">
    <img
      id="image-auto-rent-edit2"
      class="rounded mx-auto d-block img-fluid"
      src="./assets/image/place_holder.png"
    />
  </div>
  <div class="md-form">
    <i class="fas fa-signature prefix black-text"></i>
    <input
      type="text"
      id="form_nombre2"
      class="black-text form-control"
    />
    <label for="form_nombre2">Nombre Auto</label>
  </div>
  <div class="md-form">
    <i class="fas fa-car prefix black-text"></i>
    <input
      type="text"
      id="form_motor2"
      class="black-text form-control"
    />
    <label for="form_motor2">Placa Auto</label>
  </div>
  <div class="md-form">
    <i class="fas fa-money-check-alt prefix black-text"></i>
    <input
      type="number"
      id="form_precio2"
      class="black-text form-control"
    />
    <label for="form_precio2">Precio Auto</label>
  </div>
  <div class="md-form">
    <i class="fas fa-images prefix black-text"></i>
    <input
      type="file"
      accept="image/*"
      class="form-control black-text form-control"
      id="form_file2"
    />
  </div>
  <div class="text-center mt-4">
    <button
      type="submit"
      id="addnewButton"
      class="btn waves-effect waves-light btn-rounded"
      style="background-color: #52489c"
    >
      Actualizar
    </button>
  </div>
</div>
