<form [formGroup]="form" (submit)="onSubmit(form.value)">
  <div class="card-body border">
    <div class="md-form text-center">
      <img
        id="image-auto-rent-edit2"
        class="rounded mx-auto d-block img-fluid"
        [src]="imgSrc"
      />
    </div>
    <div class="form-group">
      <label for="form_nombre2">Nombre Auto</label>
      <input
        type="text"
        id="form_nombre2"
        class="black-text form-control"
        formControlName="nombre"
      />
    </div>
    <div class="form-group">
      <label for="form_motor2">Placa Auto</label>
      <input
        type="text"
        id="form_motor2"
        class="black-text form-control"
        formControlName="nmotor"
      />
    </div>
    <div class="form-group">
      <label for="form_precio2">Precio Auto</label>
      <input
        type="number"
        id="form_precio2"
        class="black-text form-control"
        formControlName="precio"
      />
    </div>
    <div class="form-group">
      <input
        type="file"
        accept="image/*"
        class="form-control black-text form-control"
        id="form_file2"
        formControlName="imageUrl"
        (change)="showPreview($event)"
      />
    </div>
    <div class="text-center mt-4">
      <button
        type="submit"
        id="addnewButton"
        class="btn waves-effect waves-light btn-rounded"
        style="background-color: #52489c"
      >
        Actualizar
      </button>
    </div>
  </div>
</form>
