<div class="card mb-2">
  <img class="card-img-top" [src]="urlAutoimageOferta" />
  <div class="card-body text-center">
    <h4 class="card-title font-weight-bold">{{ nombreOferta }}</h4>
    <h5 class="card-title font-weight-bold">Para el Auto: {{ nombreAuto }}</h5>
    <p class="card-text">{{ descripcionOferta }}</p>
    <p class="card-text">Empezar desde {{ precioOferta }}$ / por día</p>
    <a
      type="button"
      class="btn btn-editar btn-rounded waves-effect waves-light"
      style="background-color: #52489c"
      (click)="editarAuto(id_auto)"
      >Editar1</a
    >
    <a
      type="button"
      class="btn btn-editar btn-rounded waves-effect waves-light"
      style="background-color: #52489c"
      [hidden]="hidden"
      (click)="eliminarAuto(id_auto)"
      >Eliminar</a
    >
  </div>
</div>
