<div class="card mb-2">
  <img class="card-img-top" [src]="urlAutoimage" />
  <div class="card-body text-center">
    <h4 class="card-title font-weight-bold">{{ nombreAuto }}</h4>
    <p class="card-text">Empezar desde {{ precioAuto }}$ / por día</p>
    <a
      type="button"
      class="btn btn-small btn-alquilar btn-rounded waves-effect waves-light"
      target="#modalRentCar"
      style="background-color: #52489c"
      >Alquilar</a
    >
    <br /><br />
    <a type="button" class="btn-floating btn-small btn-fb"
      ><i class="fab fa-facebook-f"></i
    ></a>
    <a type="button" class="btn-floating btn-small btn-tw"
      ><i class="fab fa-twitter"></i
    ></a>
    <a type="button" class="btn-floating btn-small btn-dribbble"
      ><i class="fab fa-instagram"></i
    ></a>
  </div>
</div>
