<router-outlet></router-outlet>
<div class="tab-pane" id="panel101" role="tabpanel" *ngIf="_router.url === '/administrador/ofertas'">
  <div class="container-fluid">
    <div class="row mb-2 justify-content-center">
      <ng-container *ngFor="let autos of arregloAutos">
        <div class="col-md-6">
          <app-adminofertacard
            [id_auto]="autos.id"
            [nombreAuto]="autos.nombre"
            [precioAuto]="autos.precio"
            [urlAutoimage]="autos.imageUrl"
            [ofertatexto]="autos.textOferta"
          >
          </app-adminofertacard>
        </div>
      </ng-container>
    </div>
  </div>
  <a class="float waves-effect waves-light" *ngIf="_router.url === '/administrador/ofertas'" (click)="nuevaOferta()">
    <i class="fa fa-plus my-float"></i>
  </a>
</div>

