<div class="container-fluid mt-lg-5">
  <div class="row mb-2 justify-content-center">
    <ng-container *ngFor="let ofertas of arregloAutos">
      <div class="col-md-4">
        <app-oferta-auto-card
          [id_Oferta]="ofertas.id"
          [nombreOferta]="ofertas.data().nombre"
          [precioOferta]="ofertas.data().valor"
          [porcentajeOferta]="ofertas.data().porcentaje"
          [urlAutoimageOferta]="ofertas.data().link_web"
          [descripcionOferta]="ofertas.data().descripcion"
          [id_auto]="ofertas.data().id_autos"
        >
        </app-oferta-auto-card>
      </div>
    </ng-container>
  </div>
</div>
