<div class="container-fluid mt-lg-5">
  <div class="row mb-2 justify-content-center">
    <div *ngFor="let ofertas of arregloAutos">
      <div class="col-md">
        <app-autocard
          [id_oferta]="ofertas.id"
          [nombreOferta]="ofertas.data().nombre"
          [precioOferta]="ofertas.data().valor"
          [porcentajeOferta]="ofertas.data().porcentaje"
          [urlAutoimageOferta]="ofertas.data().link_web"
          [descripcionOferta]="ofertas.data().descripcion"
          [id_auto]="ofertas.data().id_autos"
        >
        </app-autocard>
      </div>
    </div>
  </div>
</div>
