<app-menubar></app-menubar> <br /><br />
<router-outlet></router-outlet>
<br />
<app-footer></app-footer>
<app-login></app-login>
<app-registro></app-registro>

  <div style="width: 300px">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="autos">Autos</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter content..."
          id="autos"
          required
          [(ngModel)]="autosValue"
          name="autos"
        />
      </div>

      <div class="btn-group">-->
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </form>
  </div>

  <h2>Content from Firebase</h2>
  <div class="col-md-3">
    <pre *ngFor="let auto of autos | async">{{ auto.content }}</pre>
  </div>
</div>
