<div
  style="background-image: url(./assets/Portada.svg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
  <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="row mt-5">
        <div class="col-md-6 mb-5 mt-md-0 mt-5 white-text text-md-center">
          <br><br><br><br>
          <h1 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s"
              style="visibility: visible; animation-name: fadeInLeft; animation-delay: 0.3s;">
            ¡Autos a los mejores precio en Quito!</h1>
          <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s"
              style="visibility: visible; animation-name: fadeInLeft; animation-delay: 0.3s;">
          <h6 class="mb-3 wow fadeInLeft" data-wow-delay="0.3s"
              style="visibility: visible; animation-name: fadeInLeft; animation-delay: 0.3s;">Encuentra las mejores
            tarifas, desde $30</h6>
          <a class="btn btn-outline-white wow fadeInLeft waves-effect waves-light" data-wow-delay="0.3s"
             style="visibility: visible; animation-name: fadeInLeft; animation-delay: 0.3s;" routerLink="/catalogo">Ver
            Catálogo</a>
        </div>
        <div class="col-md-6 col-xl-5 mb-4">
          <br><br>
          <app-home-main-form></app-home-main-form>
        </div>
      </div>
    </div>
  </div>
</div>
<app-carousel></app-carousel>
