<div class="tab-pane" id="panel103" role="tabpanel">
  <div class="container-fluid">
    <div class="row mb-2 justify-content-center">
      <div *ngFor="let alquiler of arregloTodosAlquilers">
        <div class="col-md">
          <app-adminalquiler
            [fechaEntrega]="alquiler.fechaEntrega"
            [fechaRecogida]="alquiler.fechaRecogida"
            [lugarEntrega]="alquiler.lugarEntrega"
            [lugarRecogida]="alquiler.lugarRecogida"
            [nombreAuto]="alquiler.nombreAuto"
            [precioAuto]="alquiler.precioAuto"
            [urlAutoimage]="alquiler.urlAutoimage"
            [modoPago]="alquiler.modopago"
          >
          </app-adminalquiler>
        </div>
      </div>
    </div>
  </div>
</div>
