<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar" style="background-color: #52489C">
  <div class="container">
    <a class="navbar-brand font-weight-bold" routerLink="/inicio">
      <strong>LA FLOTA</strong>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
            aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" routerLink="/inicio" routerLinkActive="active">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" routerLink="/catalogo" routerLinkActive="active">Cátalogo de
            Autos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" routerLink="/agencias" routerLinkActive="active">Red de
            Agencias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" routerLink="/ofertas" routerLinkActive="active">Ofertas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" routerLink="/nosotros" routerLinkActive="active">Sobre
            Nosotros</a>
        </li>
      </ul>
      <div class="md-form my-0" *ngIf="!(user$ | async)">
        <button class="btn btn-outline-white mr-sm-2 btn-rounded" routerLink="/login">Iniciar Sesión
        </button>
      </div>

      <div class="md-form my-0" *ngIf="!(user$ | async)">
        <button class="btn btn-outline-white mr-sm-2 btn-rounded" routerLink="/registro">Registrarse
        </button>
      </div>
      <div class="md-form my-0" *ngIf="(user$ | async)">
        <button class="btn btn-outline-white mr-sm-2 btn-rounded" id="Cuenta" (click)="irCuenta()">Cuenta
        </button>
      </div>
      <div class="md-form my-0" *ngIf="(user$ | async)">
        <button class="btn btn-outline-white mr-sm-2 btn-rounded" id="cerrarsesion" (click)="logOut()">Cerrar Sesión
        </button>
      </div>
    </div>
  </div>
</nav>
